<!DOCTYPE html>
<html>

<head>
	<title>Thomas math quiz</title>
	<!-- Add Bootstrap CSS file -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

	<form method="POST" action="{{ url_for('index') }}">
		<h4>Choose difficulty:</h4>
		<div class="form-group form-inline">
			<input type="radio" class="form-control" id="easy" name="difficulty" value="easy">
			<label for="easy">Easy</label>
			<input type="radio" class="form-control" id="medium" name="difficulty" value="medium">
			<label for="easy">Medium</label>
			<input type="radio" class="form-control" id="hard" name="difficulty" value="hard">
			<label for="easy">Hard</label>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		
	</form>

	<div class="container mt-5">

		<h1 class="text-center mb-4">Thomas math quiz</h1>

		<div class="progress" style="height: 30px;">
			<div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}"
				aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
		</div>


		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
		</div>
		{% endif %}
		{% endwith %}

		<form method="POST" action="{{ url_for('index') }}">
			{% for q in questions %}
			<div class="form-group form-inline">
				<label class="mr-2" style="width: 200px">{{ q['q'] }} =</label>
				<input type="number" class="form-control" id="answer{{ loop.index }}" name="answer{{ loop.index }}"
					value="{{answers['answer'+loop.index|string]}}" autocomplete="off" step="0.01">
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
		</form>
	</div>

	<!-- Add Bootstrap JS file -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>